<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8" />
	<title th:text="|予約確認: ${reservation.user.lastName} ${reservation.user.firstName}|">予約確認</title>
</head>

<body th:with="user=${#authentication.principal.user}">

	<div>
		<a th:href="@{'/rooms/' + ${date}}">会議室一覧へ</a>
	</div>

	<h1>予約削除確認</h1>

	<table>
		<tr>
			<th>予約者名</th>
			<td th:text="${reservation.user.lastName + ' ' + reservation.user.firstName}">山田 太郎</td>
		</tr>
		<tr>
			<th>日付</th>
			<td th:text="${#temporals.format(date, 'yyyy/MM/dd (E)')}">2024/10/02</td>
		</tr>
		<tr>
			<th>時間帯</th>
			<td>
				<span th:text="${reservation.startTime}">09:00</span> - <span
					th:text="${reservation.endTime}">10:00</span>
			</td>
		</tr>
		<tr>
			<th>オンライン参加</th>
			<td th:text="${reservation.online ? '有' : '無'}">有</td>
		</tr>
		<tr>
			<th>コメント</th>
			<td th:text="${reservation.comment}">コメントなし</td>
		</tr>
	</table>

	<p>この予約を取り消しますか？</p>

	<form th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}" method="post"
		sec:authorize="${hasRole('ADMIN') or #vars.user.userId == #vars.reservation.user.userId}">
		<input type="hidden" name="reservationId" th:value="${reservation.reservationId}" />
		<input type="submit" name="cancel" value="この予約を取り消す" />
	</form>

	<a th:href="@{'/reservations/' + ${date} + '/' + ${roomId}}">戻る</a>

</body>

</html>