<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${#temporals.format(date, 'yyyy/M/d (E)')}の会議室|">XXXX/XX/XXの会議室</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- 横幅を短くするためにcol-md-6に変更 -->
                <h1 class="text-center text-primary">会議室</h1>

                <p th:if="${message}" class="text-danger text-center" th:text="${message}"></p>

                <form th:action="@{/rooms/select}" method="get" class="mb-4">
                    <div class="input-group">
                        <label for="date" class="input-group-text">日付を選択:</label>
                        <input type="date" id="date" name="date" th:value="${#temporals.format(date, 'yyyy-MM-dd')}"
                            class="form-control" onchange="this.form.submit()" />
                        <span class="input-group-text" th:text="|(${#temporals.format(date, 'E')})|"></span>
                    </div>
                </form>

                <ul class="list-group mb-4">
                    <li th:each="room: ${rooms}" class="list-group-item">
                        <a th:href="@{'/reservations/' + ${date} + '/' + ${room.meetingRoom.roomId}}"
                            th:text="${room.meetingRoom.roomName}" class="link-primary"></a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="text-center">
                    <button type="submit" class="btn btn-danger">ログアウト</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>